body{
    background-color:lime;
    color:blue;
    font-family: sans-serif;
    font-size: x-large;
}
h1{
    color:red;
}
h3{
    position:absolute; left: 550px; top: 55px
}
.fcc-btn{
    background-color:green;
    color:white;
    padding: 30px 50px;
    text-decoration:none;
    border:2px solid black;
    border-radius:7px;
    font-family: sans-serif;
    font-weight: 900;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: block;
    width: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fcc-btn:hover {background-color: aquamarine;}

.fcc-btn:active {
  background-color: aquamarine;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn{
    background-color: rgb(255, 0, 234);
    color:white;
    padding:30px 50px;
    text-decoration:none;
    border:2px solid black;
    border-radius:7px;
    font-family: sans-serif;
    font-weight: 900;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: block;
    width: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:hover {background-color: aquamarine;
}

.btn:active {
  background-color: aquamarine;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn2{
 
    background-image: url("Red.png");
    color:black;
    padding:30px 50px;
    text-decoration:none;
    border:2px solid black;
    border-radius:7px;
    font-family: sans-serif;
    font-weight: 900;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: block;
    width: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn2:hover {background: red}

.btn2:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn3{
  background-color:green;
    color:white;
    padding: 30px 50px;
    text-decoration:none;
    border:2px solid black;
    border-radius:7px;
    font-family: sans-serif;
    font-weight: 900;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: block;
    width: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:larger;
}