body{
    background-color:lime;
    color:blue
}
h1{
    color:red;
}
.fcc-btn{
    background-color: green;
    color:white;
    padding:15px 20px;
    text-decoration:none;
    border:2px solid black;
    border-radius:7px;
}
.fcc-btn:hover{
    background-color: aqua;
}